<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminDashboard">
	<select id="countMonthNewMember" parameterType="java.util.Map" resultType="Integer">
		SELECT COUNT(*) FROM member WHERE TO_CHAR(regDate , 'YYYY-MM') = #{month}
	</select>
	
	<select id="countMonthNewLecture" parameterType="java.util.Map" resultType="Integer">
		SELECT COUNT(*) FROM lecture WHERE TO_CHAR(regDate , 'YYYY-MM') = #{month}
	</select>
	
	<select id="countWaitingLecture"  resultType="Integer">
		SELECT COUNT(*) FROM lecture WHERE LECTURESTATE =0
	</select>
	
	<select id="countWaitingQnA"  resultType="Integer">
		SELECT COUNT(*) FROM noticeQna WHERE status =0
	</select>
	
	<select id="test" parameterType="java.util.List" resultType="Integer">
		SELECT NVL(SUM(totalPay),0) FROM pay 
		WHERE TO_CHAR(payDate, 'YYYY-MM') = #{item}			
	</select> 
	
	<select id="yearlyLectureSales" parameterType="java.util.Map" resultType="Integer">
		WITH T_TEMP AS
		    (SELECT 
			    sum( decode(TO_CHAR(paydate, 'yyyy-mm'), #{month1} ,totalpay, 0)) AS "${month1}",
			    sum( decode(TO_CHAR(paydate, 'yyyy-mm'), #{month2} ,totalpay, 0)) AS "${month2}",
			    sum( decode(TO_CHAR(paydate, 'yyyy-mm'), #{month3} ,totalpay, 0)) AS "${month3}",
			    sum( decode(TO_CHAR(paydate, 'yyyy-mm'), #{month4} ,totalpay, 0)) AS "${month4}",
			    sum( decode(TO_CHAR(paydate, 'yyyy-mm'), #{month5} ,totalpay, 0)) AS "${month5}",
			    sum( decode(TO_CHAR(paydate, 'yyyy-mm'), #{month6} ,totalpay, 0)) AS "${month6}",
			    sum( decode(TO_CHAR(paydate, 'yyyy-mm'), #{month7} ,totalpay, 0)) AS "${month7}",
			    sum( decode(TO_CHAR(paydate, 'yyyy-mm'), #{month8} ,totalpay, 0)) AS "${month8}",
			    sum( decode(TO_CHAR(paydate, 'yyyy-mm'), #{month9} ,totalpay, 0)) AS "${month9}",
			    sum( decode(TO_CHAR(paydate, 'yyyy-mm'), #{month10} ,totalpay, 0)) AS "${month10}",
		        sum( decode(TO_CHAR(paydate, 'yyyy-mm'), #{month11} ,totalpay, 0)) AS "${month11}",
		        sum( decode(TO_CHAR(paydate, 'yyyy-mm'), #{month12} ,totalpay, 0)) AS "${month12}"
		    FROM pay
		    )	
		SELECT value
		FROM T_TEMP
		UNPIVOT ( value FOR month IN ("${month1}","${month2}","${month3}","${month4}","${month5}","${month6}","${month7}","${month8}","${month9}","${month10}","${month11}", "${month12}"))
	</select>
</mapper>