<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lectureInquiry">
	<insert id="insertInquiry" parameterType="com.sp.dev.lectureInquiry.LecInq">
		insert into lectureinquiry(inquirynum, lecturenum, qmember, question, q_regdate)
		values (lectureinquiry_seq.NEXTVAL, #{lectureNum}, #{qmember}, #{question}, sysdate)
	</insert>
	
	<select id="dataCount" resultType="Integer" parameterType="map">
		select NVL(COUNT(*), 0) from lectureInquiry
		where lectureNum = #{lectureNum}
	</select>
	
	<!-- 리스트 출력 : 문의 쪽 Mapper의 list 부분처럼 하면 된다 -->
	<select id="listLecInq" parameterType="map" resultType="com.sp.dev.lectureInquiry.LecInq">
		SELECT * FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT inquiryNum, qMember, question, TO_CHAR(q_regDate, 'YYYY-MM-DD') q_regDate, aMember, answer, a_regDate
				FROM lectureInquiry l
				WHERE lectureNum = #{lectureNum}
				ORDER BY inquiryNum DESC
			) tb WHERE ROWNUM &lt;= #{end}
		) WHERE rnum &gt;= #{start}
	</select>
	
	<delete id="deleteInquiry" parameterType="map">
		DELETE from lectureinquiry WHERE inquirynum = #{inquirynum}
			<if test="memberRole != 99">
				AND qMember = #{qMember}
			</if>
	</delete>
	
</mapper>