<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<select id="loginMember" parameterType="String" resultType="com.sp.dev.member.Member">
		SELECT m.memberEmail, memberName, memberNickname, memberPwd, memberRole, pwdFail, enabled, 
	    	infoUpdate, lastLogin
	    FROM member m
    WHERE m.memberEmail = #{memberEmail}
	</select>
</mapper>