<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mentorPage">
	<select id="readMentoring" parameterType="String" resultType="com.sp.dev.mentors.Mentors">
		SELECT mentorNum, memberEmail, categoryNum, mentorSubject, 
			mentorContent, mentorPrice, ableDay, sTime, eTime
		FROM mentor
		WHERE memberEmail = #{memberEmail}
	</select>
	
	<update id="insertMentoring" parameterType="com.sp.dev.mentors.Mentors">
		INSERT INTO mentor(mentorNum, memberEmail, categoryNum, mentorSubject, 
			mentorContent, mentorPrice, ableDay, sTime, eTime)
		VALUES(mentor_seq.NEXTVAL, #{memberEmail}, #{categoryNum}, #{mentorSubject},
			#{mentorContent}, #{mentorPrice}, #{ableDay}, #{sTime}, #{eTime} )
	</update>
	
	<update id="updateMentoring" parameterType="com.sp.dev.mentors.Mentors">
		UPDATE mentor SET categoryNum= #{categoryNum}, mentorSubject = #{mentorSubject}, 
			mentorContent = #{mentorContent}, mentorPrice = #{mentorPrice}, ableDay = #{ableDay},
			sTime = #{sTime}, eTime = #{eTime}
		WHERE memberEmail = #{memberEmail}
	</update>
	
	<select id="listMentoringApply" parameterType="String" resultType="com.sp.dev.mentors.Mentors">
		SELECT mentoringNum, ma.mentorNum, mentoringPrice, mentoringDate, 
    		mentorSubject, status, approveDate, applyDate
		FROM mentoringApply ma
		LEFT OUTER JOIN mentor mt ON mt.mentorNum = ma.mentorNum
		LEFT OUTER JOIN member m ON mt.memberEmail = m.memberEmail
		WHERE m.memberEmail = #{memberEmail} 
		<choose>
			<when test="status == '-1' ">
				
			</when>
			
			<when test="status == '3' ">
				AND status &lt;= #{status}
			</when>
			<otherwise>
				AND status = #{status}
			</otherwise>
		</choose>
	</select>
	
	<select id="readMentoringApply" parameterType="Integer" resultType="com.sp.dev.mentors.Mentors">
		SELECT mentoringNum, memberName, ma.memberEmail, mentoringPrice, mentoringDate, status, approveDate, phoneNum, applyMessage, applyDate
		FROM mentoringApply ma
		LEFT OUTER JOIN member m ON ma.memberEmail = m.memberEmail
		WHERE mentoringNum = #{mentoringNum}
	</select>
	
	<update id="updateMentoringApply" parameterType="map">
		UPDATE mentoringApply SET status = #{status}, approveDate = SYSDATE
		WHERE mentoringNum = #{mentoringNum}
	</update>
	
</mapper>