<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my">

	<!-- 커뮤니티 qna 작성글 개수 -->
	<select id="qnaDataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) 
		FROM communityQna
		WHERE memberEmail=#{memberEmail} AND depth = 0
	</select>

	<!-- 커뮤니티 qna 작성글 리스트 -->
	<select id="qnaList" parameterType="map" resultType="com.sp.dev.mypage.myWrite.MyWrite" >
		SELECT * FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT qnaNum, memberEmail, subject, TO_CHAR(regDate,'YYYY-MM-DD') regDate, depth, replyNum, selected
				FROM communityQna
				WHERE memberEmail=#{memberEmail} AND depth = 0
				ORDER BY regDate DESC
			) tb WHERE ROWNUM &lt;= #{end}
		) WHERE rnum &gt;= #{start}
	</select>
</mapper>