<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study">

	<!-- 시퀀스 번호 가져오기 -->
	<select id="seq" resultType="Integer">
		SELECT study_seq.NEXTVAL FROM dual
	</select>
	
	<!-- sql으로 검색시 추가 -->
	<sql id="where-list">
		( INSTR(subject, #{keyword}) &gt; 0
			OR DBMS_LOB.INSTR(REGEXP_REPLACE(content, <![CDATA['<[^>]*>|\&([^;])*;']]>), #{keyword}) &gt; 0 )
	</sql>

	
	<!-- 스터디 게시글 입력 -->
	<insert id="insertStudy" parameterType="com.sp.dev.community.Study">
	INSERT INTO study(studyNum, memberEmail, regionNum, subject, content,
		hitCount, regDate, limit, status, applied, replyCount)
		VALUES(#{studyNum}, #{memberEmail}, #{regionNum}, #{subject}, #{content},
		0, SYSDATE, #{limit}, 0, 0, 0)
	</insert>
	
	
	<!-- 게시글 갯수 세기 -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM study
		<where>
			<if test="categoryNum != 2 ">
				( status = #{categoryNum} )
			</if>
		
			<if test="keyword != null and keyword != '' ">
				AND <include refid="where-list"/>
			</if>
			
			<choose>
				<when test="jRegionNum == 1">
					AND ( regionNum = 1 )
				</when>
				
				<when test="jRegionNum == 2">
					AND ( regionNum = 2 )
				</when>
				
				<when test="jRegionNum == 3">
					AND ( regionNum = 3 )
				</when>
			</choose>
		</where>
	</select>
	
	
	<!-- 게시글 조회수 업데이트 -->
	<select id="updateHitCount" parameterType="Integer">
		UPDATE study SET hitCount = hitCount + 1 WHERE studyNum = #{studyNum}
	</select>
	
	
	<!-- 게시글 리스트 가져오기 -->
	<select id="listStudy" parameterType="map" resultType="com.sp.dev.community.Study">
		SELECT * FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT studyNum, memberNickname, subject, 
				REGEXP_REPLACE(content, <![CDATA['<[^>]*>|\&([^;])*;']]>) content,
				hitCount, st.regDate, status, limit, applied, 
				st.regionNum, region, replyCount
				FROM study st
				JOIN member m ON st.memberEmail = m.memberEmail
				JOIN StudyRegion sr ON st.regionNum = sr.regionNum
				<where>
					<if test="categoryNum != 2 ">
						( status = #{categoryNum} )
					</if>
					
					<if test="keyword != null and keyword != '' ">
						AND <include refid="where-list"/>
					</if>
					
					<choose>
						<when test="jRegionNum == 1">
							AND ( region = '서울' )
						</when>
						
						<when test="jRegionNum == 2">
							AND ( region = '경기' )
						</when>
						
						<when test="jRegionNum == 3">
							AND ( region = '인천' )
						</when>
					</choose>
				</where>
				ORDER BY studyNum DESC
			) tb WHERE ROWNUM &lt;= #{end}
		) WHERE rnum &gt;= #{start}
	</select>
	
	
	<!-- studyNum을 통해 게시글 가져오기 -->
	<select id="readStudy" parameterType="Integer" resultType="com.sp.dev.community.Study">
		SELECT studyNum, st.memberEmail, memberName, st.regionNum, region, memberNickname, subject, content,
			st.regDate, hitCount, limit, status, applied
		FROM study st
		JOIN member m ON st.memberEmail = m.memberEmail
		JOIN StudyRegion sr ON st.regionNum = sr.regionNum
		WHERE studyNum = #{studyNum}
	</select>
	
	 
	<!-- 이전글 -->
	<select id="preReadStudy" parameterType="map" resultType="com.sp.dev.community.Study">
		SELECT * FROM (
			SELECT studyNum, subject
			FROM study st
			JOIN member m ON st.memberEmail = m.memberEmail
			<where>
				<if test="keyword != null and keyword != '' ">
					<include refid="where-list"/>
				</if>
				AND (studyNum &gt; #{studyNum})
			</where>
			ORDER BY studyNum ASC
		) WHERE ROWNUM = 1
	</select>
	
	
	<!-- 다음글 -->
	<select id="nextReadStudy" parameterType="map" resultType="com.sp.dev.community.Study">
		SELECT * FROM (
			SELECT studyNum, subject
			FROM study st
			JOIN member m ON st.memberEmail = m.memberEmail
			<where>
				<if test="keyword != null and keyword != '' ">
					<include refid="where-list"/>
				</if>
				AND (studyNum &lt; #{studyNum})
			</where>
			ORDER BY studyNum DESC
		) WHERE ROWNUM = 1
	</select>
	
	
	<!-- 게시글 수정(stduy테이블) -->
	<update id="updateStudy" parameterType="com.sp.dev.community.Study">
		UPDATE study SET subject = #{subject}, content = #{content}, regionNum = #{regionNum}, limit = #{limit}
		WHERE studyNum = #{studyNum} AND memberEmail = #{memberEmail}
	</update>


	<!-- 게시글 삭제 -->
	<delete id="deleteStudy" parameterType="Integer">
		DELETE FROM study WHERE studyNum = #{studyNum}
	</delete>


	<!-- 게시글의 답글 삭제 -->
	<delete id="deleteStduyReply" parameterType="Integer">
		DELETE FROM studyReply WHERE studyNum = #{studyNum}
	</delete>
	
	
	<!-- 스터디 신청 -->
	<insert id="insertStudyApply" parameterType="map">
		insert into studyApply(applyNum, studyNum, applicantEmail, status)
			VALUES(studyApply_seq.NEXTVAL, #{studyNum}, #{applicantEmail}, 0)
	</insert>
	
	<!-- ================================================================== -->
	<!-- ================================================================== -->
	<!-- 댓글 입력 -->
	<insert id="insertReply" parameterType="com.sp.dev.community.StudyReply">
		INSERT INTO studyReply(replyNum, studyNum, memberEmail, content, regDate, parent)
    		VALUES(studyReply_seq.NEXTVAL, #{studyNum}, #{memberEmail}, #{content}, SYSDATE, #{parent})
	</insert>
	
	<!-- 댓글 입력 시 게시글의 댓글개수 추가하기 -->
	
	<!-- 댓글 갯수세기 -->
	<select id="replyCount" parameterType="Integer" resultType="Integer">
		SELECT NVL(COUNT(*), 0) FROM studyReply
			WHERE studyNum = #{studyNum} AND parent = 0
	</select>
	
	
	<!-- 댓글 리스트 가져오기 -->
	<select id="listReply" parameterType="map" resultType="com.sp.dev.community.StudyReply">
		SELECT sr.replyNum, sr.memberEmail, memberNickname, sr.studyNum, 
			NVL(answerCount, 0) answerCount,
			sr.content, sr.regDate
		FROM studyReply sr
		JOIN member m ON sr.memberEmail = m.memberEmail
		JOIN study s ON sr.studyNum = s.studyNum
		LEFT OUTER JOIN (
			SELECT parent, COUNT(*) answerCount
			FROM studyReply WHERE parent != 0 GROUP BY parent
		) a ON sr.replyNum = a.parent
		WHERE sr.studyNum = #{studyNum} AND sr.parent = 0
		ORDER BY sr.replyNum DESC
	</select>
	
	
	<!-- 댓글 및 대댓글 삭제 -->
	<delete id="deleteReply" parameterType="map">
		DELETE FROM studyReply
			WHERE replyNum = #{replyNum}
			<if test="mode == 'reply' ">
				OR answer = #{replyNum}
			</if>
	</delete>
	
	
	<!-- 댓글의 댓글 리스트 가져오기 -->
	<select id="listReplyAnswer" parameterType="Integer" resultType="com.sp.dev.community.StudyReply">
		SELECT replyNum, studyNum, sr.memberEmail, memberNickname, sr.content, sr.regDate, parent 
		FROM studyReply sr
		JOIN member m ON sr.memberEmail = m.memberEmail
		WHERE parent = #{parent}
		ORDER BY replyNum DESC
	</select>
	
	
	<!-- 댓글의 댓글 개수 -->
	<select id="replyAnswerCount" parameterType="Integer" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM studyReply WHERE parent = #{parent}
	</select>
	
</mapper>