@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.sideBar {
	width: 18%;
}
	

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.sideBar {
	width: 18%;
}

.menu-label{
	color: #CFCFCF;
	margin-bottom: 12px;
}

.side-content ul {
	width:100%;
	list-style: none;
	margin-bottom: 15px;
}

.side-content ul li a {
	text-decoration: none;
	color: #454545;
	font-weight: 700;
	cursor: pointer;
}

.side-content ul li a:hover {
	background: rgba(0,0,0,0.03);
}

.menu-label {
	font-size: 14px;
}

.side-content p:nth-of-type(2) {
	margin-top: 12px;
} 

.side-content p:nth-of-type(3) {
	margin-top: 12px;
}

.side-content p:last-of-type {
	margin-top: 100px;
}
.menu-label{
	color: #CFCFCF;
	margin-bottom: 12px;
}

.side-content ul {
   	margin: 0;
	padding-left: 0;
	list-style: none;
	display: inline-block;
}
.side-content ul:last-of-type{
	margin-bottom: 50px;
}
.side-content ul li a {
	text-decoration: none;
	color: #454545;
	font-weight: 700;
	cursor: pointer;
	display : block;
	padding: 8px 12px;
	font-weight: 700;
	border-radius: 5px;
}

.menu-list .is_active {
	color: #0d6efd;
}
.side-content ul li a span{
	padding-left: 5px;
}

.banner{
	background: #333b3d;
	height: 60px;
}

.banner-title {
	color: #fff;
	font-size: 25px;
	margin-right: 20px;
}
.banner-title a {
	text-decoration: none;
	color: #fff;
}

.banner-nav a {
	color: #fff;
}


.section {
	background: rgba(0,0,0,0.03);
}