@charset "UTF-8";

*{
	margin: 0;  padding: 0; box-sizing: border-box;
}


.banner {
	height: 200px;
	background: #333B3D;
	color: white;
}

.banner .title span {
	font-size: 25px;
	font-weight: bold;
}


.contentBody {
	display: flex;
}

.contentBody a {
	color: black; text-decoration: none; outline: none;
}

.contentBody a:hover {
	text-decoration: none;
}



.sideMenu {
	font-weight: bold;
	color: gray;
}

.sideMenu a {
	color: gray;
}

.cmmu-menu {
	font-weight: bold;
}

.contentHeader {
	display: flex;
	justify-content: space-between;
}

.contentHeader .nav a {
	font-weight: bold;
	color: gray;
}


.question .question_title {
	font-size: 22px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
	
}

.question .question_title .subject {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
}

.question .question_title p {
	margin-bottom: 0;
}

.question .question_body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.question .body_content {
	height: 44px;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 원하는 줄 수 표시 */
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.question .question_footer {
	font-weight: bold;
	color: #BDBDBD;
}

.question .question_footer p {
	margin-bottom: 0;
}

.answerNum {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 1px solid #BDBDBD;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	color: gray;
}

.answerNum .num_center {
	text-align: center;
}


.mark_ing {
	width: 47px;
	height: 25px;
	background: #0d6efd;
	color: white;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	margin-right: 5px;
	line-height: 25px;
}

.mark_finsh {
	width: 57px;
	height: 25px;
	background: lightgray;
	color: white;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	margin-right: 5px;
	line-height: 25px;
}